body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("Imagen/back.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-element label {
    margin-bottom: 5px;
}

.form-element input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(31, 51, 233);
    color: white;
    cursor: pointer;
}
